<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="azure.cloud_storage-storage_setting" value="DefaultEndpointsProtocol=https;AccountName=magicmomentsunit;AccountKey=Pza7yD0vHjCbG4V30N3l1TmvL+5anV05YGmuKFG5uEkrTSxXwFwagmd8dxtY1+yVaqxUmK4iqhIsxdM4k6HsCw==" />
    <add key="azure.service_bus-connection_string" value="Endpoint=sb://magicmoments-api.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=4AcW4dp63TJoEtm8WOwlMNscRpvzChhheB6Qzq+CobA=" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>